title = "Member Dashboard"
url = "/account/dashboard"
layout = "default"
is_hidden = 0

[Dashboard]

[session]
security = "user"
redirect = "account/login"
==
<div class="ui container">
    <h1 class="ui left aligned header"><i class="compass outline red icon"></i>Welcome, {{user.name}}</h1>
    <div class="ui divider"></div>
    <div class="ui hidden divider"></div>
    <div class="ui stackable two column grid">
        <div class="column">
            <div class="ui stacked segment">
                <h2 class="ui header"> <i class="user red icon"></i>Your Profile</h2>
                <div class="ui basic segment">
                    <div class="ui stackable grid">
                        <div class="two wide column"> <i class="info red circular small icon"></i> </div>
                        <div class="fourteen wide column">
                            Membership Status 
                                <div class="ui red basic label">
                                    {% if user.membership_type == 1 %}
                                        Core
                                    {% elseif user.membership_type == 2 %}
                                        Affiliate
                                    {% else %}
                                        None
                                    {% endif %}
                                </div>
                            <div class="ui right aligned basic segment" style="margin-top:0px;">
                                <a href="{{'account/update'|page}}" class="ui basic red button">Edit Profile</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui stacked segment">
                <h2 class="ui header"><i class="archive red icon"></i>Application Rounds</h2>
                <div class="ui basic segment">
                    <div class="ui stackable grid">
                        <div class="two wide column"><i class="info circular red small icon"></i></div>
                        <div class="fourteen wide column">
                            {% if active_round %}
                                Application for {{active_round.year}} is now open until {{active_round.end | date('d, F h:i')}}
                                <div class="ui right aligned basic segment">
                                    <a class="ui red basic {{user_active_submission.status != 0? 'disabled':''}} button" href="{{'account/application'|page({id:active_round.id})}}">
                                        {{user_active_submission.status != 0 ? 'Application Submitted':'Apply Now'}}
                                    </a>
                                </div>
                            {% else %}
                                No current application round is open
                            {% endif %}
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <div class="ui stackable two column grid">
        <div class="column">
            <div class="ui stacked segment">
                <h2 class="ui header"><i class="file alternate outline red icon"></i>Current Application</h2>
                <div class="ui basic segment">
                    <div class="ui stackable grid">
                        <div class="two wide column"><i class="info circular red small icon"></i></div>
                        <div class="fourteen wide column">
                            {% if user_active_submission %}
                                {% if user_active_submission.status != 0 %}
                                    Your application is currently {{('Application.Status.' ~ user_active_submission.status) | _}}
                                {% else %}
                                    You started the application process
                                    <div class="ui right aligned basic segment">
                                        <a class="ui red basic button" href="{{'account/application'|page({id:user_active_submission.round_id})}}">
                                            Edit Application
                                        </a>
                                    </div>
                                {% endif %}
                            {% else %}
                                No current applications
                            {% endif %}
                        </div>
                    </div> 
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui stacked segment">
                <h2 class="ui header"><i class="newspaper red icon"></i>Application Updates</h2>
                <div class="ui basic segment">
                    <div class="ui stackable grid">
                        {% if user_submissions %}
                            {% for submission in user_submissions %}
                                <div class="two wide column"><i class="info red circular small icon"></i></div>
                                <div class="fourteen wide column">
                                    Application for {{submission.round.year}} is {{('Application.Status.' ~ submission.status) | _}}
                                    <div>
                                        <small style="color:rgba(0,0,0,.5);"><i class="clock outline icon"></i> {{submission.updated_at.diffForHumans()}}</small>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                        <div class="two wide column"><i class="play inverted circular pink small icon"></i></div>
                            <div class="fourteen wide column">    
                                No submitted applications
                            </div>
                        {% endif %}
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
{% put scripts %}
<script>
    $('.ui.dropdown').dropdown();
</script>
{% endput %}