title = "Member Dashboard"
url = "/account/dashboard"
layout = "default"
is_hidden = 0

[Dashboard]

[session]
security = "user"
redirect = "account/login"
==
<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>
<div class="ui container">
    <h1 class="ui left aligned header"><i class="compass outline red icon"></i>{{'Pages.Account.Dashboard.Welcome'|_}}{{user.name}}</h1>
    <div class="ui divider"></div>
    <div class="ui hidden divider"></div>
    <div class="ui stackable two column grid">
        <div class="column">
            <div class="ui stacked segment">
                <h2 class="ui header"> <i class="user red icon"></i>{{'Pages.Account.Dashboard.YourProfile'|_}}</h2>
                <div class="ui basic segment">
                    <div class="ui grid">
                        <div class="two wide column"> <i class="info red circular small icon"></i> </div>
                        <div class="fourteen wide column">
                            {{'Pages.Account.Dashboard.MembershipStatus'|_}} 
                                <div class="ui red basic label">
                                    {% if user.membership_type == 1 %}
                                        {{'Keywords.Core'|_}}
                                    {% elseif user.membership_type == 2 %}
                                        {{'Keywords.Affiliate'|_}}
                                    {% else %}
                                        {{'Keywords.None'|_}}
                                    {% endif %}
                                </div>
                            <div class="ui right aligned basic segment" style="margin-top:0px;">
                                <a href="{{'account/update'|page}}" class="ui basic red button">{{'Pages.Account.Dashboard.EditProfile'|_}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui stacked segment">
                <h2 class="ui header"><i class="archive red icon"></i>{{'Pages.Account.Dashboard.ApplicationRounds'|_}}</h2>
                <div class="ui basic segment">
                    <div class="ui grid">
                        <div class="two wide column"><i class="info circular red small icon"></i></div>
                        <div class="fourteen wide column">
                            {% if active_round %}
                                {{'Pages.Account.Dashboard.ApplicationRounds.Message1'|_}} {{active_round.year}} {{'Pages.Account.Dashboard.ApplicationRounds.Message2'|_}} {{active_round.end | date('d, F h:i')}}
                                <div class="ui right aligned basic segment">
                                    <a class="ui red basic {{user_active_submission.status != 0? 'disabled':''}} button" href="{{'account/application'|page({id:active_round.id})}}">
                                        {{user_active_submission.status != 0 ? 'Pages.Account.Dashboard.ApplicationSubmitted'|_:'Pages.Account.Dashboard.ApplyNow' | _ }}
                                    </a>
                                </div>
                            {% else %}
                                {{'Pages.Account.Dashboard.ApplicationRounds.Message3'|_}}
                            {% endif %}
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <div class="ui stackable two column grid">
        <div class="column">
            <div class="ui stacked segment">
                <h2 class="ui header"><i class="file alternate outline red icon"></i>{{'Pages.Account.Dashboard.CurrentApplication'|_}}</h2>
                <div class="ui basic segment">
                    <div class="ui grid">
                        <div class="two wide column"><i class="info circular red small icon"></i></div>
                        <div class="fourteen wide column">
                            {% if user_active_submission %}
                                {% if user_active_submission.status != 0 %}
                                    {{'Pages.Account.Dashboard.CurrentApplication.Message1'|_}} {{('Application.Status.' ~ user_active_submission.status) | _}}
                                {% else %}
                                    {{'Pages.Account.Dashboard.CurrentApplication.Message2'|_}}
                                    <div class="ui right aligned basic segment">
                                        <a class="ui red basic button" href="{{'account/application'|page({id:user_active_submission.round_id})}}">
                                            {{'Pages.Account.Dashboard.EditApplication'|_}}
                                        </a>
                                    </div>
                                {% endif %}
                            {% else %}
                                {{'Pages.Account.Dashboard.CurrentApplication.Message3'|_}}    
                            {% endif %}
                        </div>
                    </div> 
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui stacked segment">
                <h2 class="ui header"><i class="newspaper red icon"></i>{{'Pages.Account.Dashboard.ApplicationUpdates'|_}}</h2>
                <div class="ui basic segment">
                    <div class="ui grid">
                        {% if user_submissions %}
                            {% for submission in user_submissions %}
                                <div class="two wide column"><i class="info red circular small icon"></i></div>
                                <div class="fourteen wide column">
                                    {{'Pages.Account.Dashboard.ApplicationUpdates.Message1'|_}} {{submission.round.year}} {{'Keywords.is'|_}} {{('Application.Status.' ~ submission.status) | _}}
                                    <div>
                                        <small style="color:rgba(0,0,0,.5);"><i class="clock outline icon"></i> {{submission.updated_at.diffForHumans()}}</small>
                                    </div>
                                </div>
                            {% else %}
                                <div class="two wide column"><i class="info red circular small icon"></i></div>
                                <div class="fourteen wide column">
                                    {{'Pages.Account.Dashboard.ApplicationUpdates.Message2'|_}}
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="two wide column"><i class="info red circular small icon"></i></div>
                            <div class="fourteen wide column">    
                                {{'Pages.Account.Dashboard.ApplicationUpdates.Message2'|_}}
                            </div>
                        {% endif %}
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
{% put scripts %}
<script>
    $('.ui.dropdown').dropdown();
</script>
{% endput %}