{% for option in question.options %}
<div class="field">
    <div class="ui radio checkbox">
        <input type="radio" name="q_{{question.id}}{{question.repeat_active?'[]':''}}" dataoption="{{option.id}}">
        <label>{{option.option}}</label>
    </div>
</div>
{% endfor %}
{% if question.other_active %}
<div class="field">
    <div class="ui radio checkbox">
        <input type="radio" name="q_{{question.id}}{{question.repeat_active?'[]':''}}['other_text']">
        <label>{{question.other_text}}</label>
    </div>
</div>
{% endif %}