<div class="ui divider" style="margin-top: 80px;"></div>
<div class="ui centered center aligned basic segment">
    <form class="mailchimp-signup-subscribe-form ui form" action="/content/naas-network-arab-alternative-screens" method="post" id="mailchimp-signup-subscribe-block-our-mailing-list-form" accept-charset="UTF-8">
        <div class="stackable fields">
            <div id="mailchimp-newsletter-ee960cd660-mergefields" class="mailchimp-newsletter-mergefields twelve wide field">
                <div class="form-item form-type-textfield form-item-mergevars-EMAIL ui labeled input">
                    <div class="ui basic label" style="padding-top: 1em;">SUBSCRIBE TO OUR MAILING-LIST </div>
                    <input placeholder="Email Address *" type="text" id="edit-mergevars-email" name="mergevars[EMAIL]" value="" size="25" maxlength="128" class="form-text required">
                </div>
            </div>
            <input type="hidden" name="form_build_id" value="form-Nd0AiEWND5A82Bzb-25rr_BCd1W7RPhvcq355wznNTo">
            <input type="hidden" name="form_id" value="mailchimp_signup_subscribe_block_our_mailing_list_form">
            <div class="form-actions form-wrapper form-group four wide field" id="edit-actions--2" style="padding-top:0.7em;"> 
                <input type="submit" id="edit-submit--2" name="op" value="Submit" class="ui pink fluid button">
            </div>
        </div>
    </form> 
</div>
<div class="ui divider"></div>