<div class="ui divider" style="margin-top: 80px;"></div>
<div class="ui centered center aligned basic segment">
    <form class="mailchimp-signup-subscribe-form ui form" action="https://naasnetwork.us10.list-manage.com/subscribe/post?u=8bde70f9ee10f226bb9de0bfc&amp;id=ee960cd660" method="post" id="mailchimp-signup-subscribe-block-our-mailing-list-form" accept-charset="UTF-8">
        <div class="stackable fields">
            <div id="mailchimp-newsletter-ee960cd660-mergefields" class="mailchimp-newsletter-mergefields twelve wide field">
                <div class="form-item form-type-textfield form-item-mergevars-EMAIL ui labeled input">
                    <div class="ui basic label" style="padding-top: 1em;">SUBSCRIBE TO OUR MAILING-LIST </div>
                    <input placeholder="Email Address *" type="text" id="edit-mergevars-email" name="EMAIL" size="25" maxlength="128" class="form-text required">
                </div>
            </div>
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8bde70f9ee10f226bb9de0bfc_ee960cd660" tabindex="-1" value="">
            </div>
            <div class="form-actions form-wrapper form-group four wide field" id="edit-actions--2" style="padding-top:0.7em;"> 
                <input type="submit" id="edit-submit--2" name="op" value="Submit" class="ui pink fluid button">
            </div>
        </div>
    </form> 
</div>
<div class="ui divider"></div>