description = "Displays team member cards in the page"

[viewBag]
snippetCode = "teammembers"
snippetName = "Team Members"
snippetProperties[category][title] = "category"
snippetProperties[category][type] = "dropdown"
snippetProperties[category][default] = 0
snippetProperties[category][options][] = "CoreTeam"
snippetProperties[category][options][] = "SteeringCommittee"
snippetProperties[category][options][] = "AdministrativeBoard"
==
<?php
use Hmones\Website\Models\Team;
    public function onStart(){
        $this['team_members'] = Team::where('category',$this['category'])->orderBy('display_order', 'asc')->get();
    }
?>
==
<div class="ui three stackable link cards">
{% for team_member in team_members %}
        <div class="ui raised card" style="box-shadow:none;">
            <div class="ui move reveal">
                <div class="visible content">
                     <div class="image">
                        <img class="ui image" src="{{team_member.image.getThumb('300','300', {'mode':'crop'})}}">
                      </div>
                </div>
                <div class="ui grey inverted basic segment hidden content" style="height:100%;">
                    <span style="color:black;">{{team_member.bio_summary | raw}}</span>
                    <br/>
                    <a href="{{'team_member'|page({'slug':team_member.slug})}}"><i class="red plus icon"></i></a>
                </div>
            </div>
            <div class="ui center aligned pink inverted padded segment content">
              <a class="header" href="{{'team_member'|page({'slug':team_member.slug})}}">{{team_member.name}}</a>
              <div class="meta">
                <span class="date">{{team_member.position}}</span>
              </div>
            </div>
          </div>

{% endfor %}
</div>

{% put scripts %}
<script>
    $(function(){
        $('.ui.raised.card')
            .transition('pulse')
        ;
    });
</script>
{% endput %}